.boton {
    background-color: $primario;
    color: $blanco;
    font-size: 1.4rem;
    text-decoration: none;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    display: inline;
    border: 2px solid $secundario;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $primarioOscuro;
        color: $secundario;
        border: 2px solid $primario;
        cursor: pointer;
    }
}