.container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .cart {
        font-size: 3rem;
        color: $negro;
        transition: all .3s ease-in-out;

        &:hover {
            color: $primarioOscuro;
        }
    }

    p {
        margin: 0;
    }
}