.link {
    color: $blanco;
    background-color: $primario;
    padding: .5rem 1rem;
    border: 1px solid $secundario;
    border-radius: .5rem;
    transition: all .3s ease-in-out;


    &:hover {
        background-color: $primarioOscuro;
        border: 1px solid $primario;

        .cart {
            color: $secundarioOscuro;
            scale: 1.1;
        }

        p {
            color: $secundarioOscuro;
        }
    }

    .container {
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: all .3s ease-in-out;

        .cart {
            font-size: 3rem;
        }

        p {
            margin: 0;
        }
    }
}