.contact {

    .form {
        text-align: center;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 2rem;
        border: 2px solid $primario;
        box-shadow: 5px 7px 9px 2px $grisOscuro;
        max-width: 60rem;

        legend {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 2rem;
            color: $primario;
        }

        .container {

            .field {
                display: flex;
                padding: 0 2rem;
                margin-bottom: 1rem;
                font-size: 1.4rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 0;

                label {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.4rem;
                }

                input {
                    width: 100%;
                    border-radius: 1rem;
                    border: 1px solid $primarioOscuro;
                    padding: .6rem;

                    &::placeholder {
                        padding-left: .5rem;
                    }
                }
            }
        }

        .submit {
            color: $blanco;
            background-color: $primario;
            padding: .5rem 1rem;
            font-size: 1.4rem;
            border: 2px solid $secundario;
            border-radius: 1rem;
            min-width: 7rem;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            transition: all .3s ease-in-out;
            margin: 2rem;
            display: flex;


            &:hover {
                background-color: $primarioOscuro;
                color: $secundario;
                border: 2px solid $primario;
                cursor: pointer;
                scale: 1.1;
            }
        }

    }
}

@media (max-width: 992px) {
    .contact {
        .form {
            .field {
                flex-direction: column;
                align-items: flex-start;
                gap: 0;

                input {
                    width: 100%;
                    height: 2rem;
                }

                textarea {
                    width: 100%;
                    min-height: 5rem;
                }
            }
        }
    }
}