.width {
    width: 32rem;
    margin: 0 auto 2rem auto;

    .card {
        border: 1px solid $primario;
        border-radius: 2rem;

        .image {
            width: 100%;
            border-radius: 2rem 2rem 0 0;
        }

        .cardBody {
            padding: 2rem;
            text-align: center;

            .title {
                min-height: 4.6rem;
            }

            .cardInfo {
                display: flex;
                gap: 2rem;
                justify-content: center;

                p {

                    strong {
                        font-size: 1.6rem;
                    }
                }
            }

            .link {
                text-decoration: none;
            }
        }
    }



}

@media (max-width: 768px) {
    .prop {
        margin-bottom: 2rem;
    }
}