.button {
    color: $blanco;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    min-width: 7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease-in-out;
    margin: .5rem;

    &:hover {
        color: $secundario;
        cursor: pointer;
        scale: 1.1;
    }
}

.confirm {
    background-color: $primario;
    border: 2px solid $secundario;

    &:hover {
        background-color: $primarioOscuro;
        border: 2px solid $primario;
    }
}

.cancel {
    background-color: $eliminar;
    border: 2px solid $secundario;

    &:hover {
        background-color: $eliminarOscuro;
        border: 2px solid $secundarioOscuro;
    }
}