.background {
    background-color: $blanco;
    z-index: 3;
    border-bottom: 2px solid $secundarioOscuro;
    box-shadow: 0 4px 20px 11px $grisOscuro;
    position: sticky;
    top: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .titleContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $negro;

            .title {
                text-align: center;
                font-family: $fuentePrincipal;

                span {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
            }

            img {
                height: 6rem;
            }
        }

    }


}