.ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    background-color: $blanco;
    border: 2px solid $secundarioOscuro;
    padding: 2rem;
    border-radius: 2rem;
    position: absolute;
    top: 10rem;
    left: 30rem;

    li {
        list-style-type: none;

        .link {
            text-decoration: none;
        }
    }
}