.aside {
    margin-left: 2rem;
    height: 100%;
    padding: 2rem 2rem 0 0;
    position: absolute;

    .ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 0;

        li {
            list-style-type: none;

            .link {
                text-decoration: none;
            }
        }
    }
}