.ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    background-color: $blanco;
    border: 2px solid $secundarioOscuro;
    padding: 2rem;
    border-radius: 2rem;
    position: absolute;
    top: 10vh;
    left: 15vw;

    li {
        list-style-type: none;

        .link {
            text-decoration: none;
        }
    }
}

@media (max-width: 1600px) {
    .ul {
        left: 5vw;
    }
}