.contenedorCount {
    display: flex;
    gap: .5rem;

    p {
        margin: 0;
    }

    .enlace {
        background-color: $primarioOscuro;
        border-radius: 100%;
        padding: .1rem 1.1rem;
        color: $blanco;
        text-decoration: none;
        cursor: pointer;
        border: 2px solid $secundario;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $secundario;
            border: 2px solid $secundarioOscuro;
            color: $primarioOscuro;
        }
    }
}